main {
    min-height: 550px;
}
.menu-head-title {
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.menu-head-title i {
    font-size: 26px;
    color: #faa515;
}
.menu-head-title p {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
}
.menu-type-group {
    display: flex;
    justify-content: center;
}
.menu-type {
    margin-right: 40px;
    text-align: center;
}
.menu-type-img {
    width: 90px;
    height: 90px;
    background-color: #ffe7ba;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-type-img img {
    width: 60%;
    height: 60%;
    cursor: pointer;
}
.menu-type p {
    color: #b2b2b2;
    font-size: 14px;
}
.menu-type:hover p{
    color: #fa8c16;
}
.menu-type-active {
    background-color: #f6a753;
}
.item {
    width: 170px;
    height: 270px;
    /* background-color: #b2b2b2; */
    border-radius: 5px;
    box-shadow: 0px 0px 13px 0px #00000040;
    font-size: 14px;
}
.item-img {
    width: 95%;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 7px;
    padding-top: 10px;
}
.item-img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.item-info-price {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.item-info {
    padding: 10px 10px;
}
.add-to-cart {
    width: 30px;
    height: 30px;
    background-color: #f6a753;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.add-to-cart i {
    font-size: 18px;
    color: #fff;
}
.item-info h6 {
    display: -webkit-box;
    max-height: 3.2rem;
   -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 1;
    line-height: 1.6rem;
}