.store-container {
    padding: 20px 170px;
}
.page-store-banner {
    position: relative;
}
.page-store-banner img {
    height: 180px;
}
.page-store-banner h3{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    padding: 0 60px;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 28px;
    color: #fff;
}
li {
    list-style: none;
    padding-top: 0px;
}
.store-list {
    padding-left: 0px;
}
.store-list p {
    /* padding-left: 30px; */
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
}
.store-list li {
    padding-bottom: 7px;
    margin-left: -30px;
    font-weight: 400;
}
.store-list li:hover {
    color: #D46B08;
    font-weight: 600;
}
.active {
    color: #D46B08;
    font-weight: 600 !important;
}
.store-detail {
    border-left: 2px solid #00000026;
    padding-left: 100px;
}
.store-detail h4 {
    font-weight: 600;
    /* font-size: 20px; */
    font-family: 'SF Pro Display', sans-serif;
    margin-bottom: 20px;
}
.store-img {
    width: 425px;
    height: 240px;
    overflow: hidden;
}
.store-img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: all 1s;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.store-img img:hover {
    overflow: hidden;
    transform: scale(1.1) rotate(0deg);
    -webkit-transform: scale(1.1) rotate(0deg);
}
.store-info h5 {
    font-size: 18px;
    margin: 8px 0 12px;
}
.store-info-social i{
    padding-left: 10px;
}
.store-info-social a:hover .fa-facebook-square {
    color: blue;
}
.store-info-social a:hover .fa-instagram-square {
    color: rgb(255, 0, 136);
}
.store-info-social a:hover .fa-twitter-square {
    color: rgb(126, 231, 221);
}
.store-info hr {
    height: 3px !important;
    border: 1px solid #000;
    width: 425px;
}
